<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>志愿团体</title>
  <link rel="stylesheet" href="/layout/base.css">
  <link rel="stylesheet" href="/layout/main.css">
</head>

<body>
  <div class="header">
    <ul class="mid-layout h row">
      <li class="col v-m">
        <a href="/login" class="icon-link">
          <img src="img/icon1.png" alt="">
          <span>登录</span>
        </a>
        <a href="/User/personinfo" class="icon-link" >
          <img src="img/icon2.png" alt="">
            <span>注册</span>
        </a>
        <a href="#" class="icon-link">
          <img src="img/icon3.png" alt="">
          <span>志愿团体注册</span>
        </a>
      </li>
      <li class="col v-m t-r">
        <a href="#" class="label-link">发起项目</a>
        <a href="#" class="label-link">志愿中心</a>
        <a href="#" class="label-link">站内信</a>
        <a href="#" class="label-link">English</a>
      </li>
    </ul>
  </div>
  <div class="banner">
    <div class="mid-layout row h">
      <div class="col v-m">
        <h1 class="logo">全国志愿服务信息系统<span class="logo-area">北京市</span></h1>
      </div>
      <div class="col v-m t-r">
        <div class="search">
          <select name="" id="">
            <option value="">新闻文章</option>
          </select>
          <input type="text">
          <button>搜索</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mid-layout">
    <div class="nav">
      <a href="index.html">首页</a>
      <a href="志愿项目.html">喜剧</a>
      <a href="志愿团体.html" class="active">动作</a>
      <a href="求助中心.html">欧美</a>
      <a href="志愿快讯.html">悲剧</a>
      <a href="志愿人物.html">恐怖</a>
      <a href="国际合作.html">惊悚</a>
<!--      <a href="研究培训.html">研究培训</a>-->
<!--      <a href="在线课堂.html">在线课堂</a>-->
<!--      <a href="党团建设.html">党团建设</a>-->
    </div>
  </div>
  <div class="main">
    <div class="mid">
      <ul class="row w">
        <li class="col">
          <div class="router">
            <span>当前位置：</span>
            <a href="#">首页</a>
            <a href="#">志愿团体</a>
          </div>
        </li>
        <li class="col t-r">
          <div class="search">
            <input type="text" placeholder="请您输入要搜索的关键字">
            <button></button>
          </div>
        </li>
      </ul>
      <div class="section">
        <div class="category">
          <h2 class="category__title">项目区域</h2>
          <div class="category__content">
            <a href="#" class="category__item active">全部</a>
            <a href="#" class="category__item">天津市</a>
            <a href="#" class="category__item">河北省</a>
            <a href="#" class="category__item">山西省</a>
            <a href="#" class="category__item">内蒙古自治区</a>
            <a href="#" class="category__item">辽宁省</a>
            <a href="#" class="category__item">黑龙江省</a>
            <a href="#" class="category__item">上海市</a>
            <a href="#" class="category__item">江苏省</a>
            <a href="#" class="category__item">浙江省</a>
            <a href="#" class="category__item">安徽省</a>
            <a href="#" class="category__item">福建省</a>
            <a href="#" class="category__item">江西省</a>
            <a href="#" class="category__item">山东省</a>
            <a href="#" class="category__item">河南省</a>
            <a href="#" class="category__item">广东省</a>
            <a href="#" class="category__item">海南省</a>
            <a href="#" class="category__item">广西壮族自治区</a>
            <a href="#" class="category__item">重庆市</a>
            <a href="#" class="category__item">四川省</a>
            <a href="#" class="category__item">贵州省</a>
            <a href="#" class="category__item">云南省</a>
            <a href="#" class="category__item">西藏自治区</a>
            <a href="#" class="category__item">陕西省</a>
            <a href="#" class="category__item">甘肃省</a>
            <a href="#" class="category__item">青海省</a>
            <a href="#" class="category__item">宁夏回族自治区</a>
            <a href="#" class="category__item">新疆维吾尔自治区</a>
            <a href="#" class="category__item">新疆兵团</a>
          </div>
          <div class="category__wrap">
            <div class="category__content">
              <a href="#" class="category__item active">全部</a>
              <a href="#" class="category__item">太原市</a>
              <a href="#" class="category__item">大同市</a>
              <a href="#" class="category__item">太原市</a>
              <a href="#" class="category__item">大同市</a>
            </div>
          </div>
        </div>
        <div class="category">
          <h2 class="category__title">服务类别</h2>
          <div class="category__content">
            <a href="#" class="category__item active">全部</a>
            <a href="#" class="category__item">社区服务</a>
          </div>
        </div>
        <div class="category">
          <h2 class="category__title">项目状态</h2>
          <div class="category__content">
            <a href="#" class="category__item active">全部</a>
            <a href="#" class="category__item">招募待启动</a>
            <a href="#" class="category__item">招募中</a>
            <a href="#" class="category__item">招募已结束</a>
            <a href="#" class="category__item">已结项</a>
          </div>
        </div>
        <div class="category">
          <h2 class="category__title">报名范围</h2>
          <div class="category__content">
            <a href="#" class="category__item active">全部</a>
            <a href="#" class="category__item">公开招募</a>
            <a href="#" class="category__item">仅招募实名志愿者</a>
            <a href="#" class="category__item">制定志愿团体招募</a>
            <a href="#" class="category__item">设定免审密码招募</a>
          </div>
        </div>
        <div class="category">
          <h2 class="category__title">服务对象</h2>
          <div class="category__content">
            <a href="#" class="category__item active">全部</a>
            <a href="#" class="category__item">儿童</a>
            <a href="#" class="category__item">青少年</a>
            <a href="#" class="category__item">孤寡老人</a>
            <a href="#" class="category__item">残障人士</a>
            <a href="#" class="category__item">优抚对象</a>
            <a href="#" class="category__item">特困群体</a>
            <a href="#" class="category__item">其他</a>
          </div>
        </div>
        <div class="category">
          <h2 class="category__title">项目人数</h2>
          <div class="category__content">
            <a href="#" class="category__item active">全部</a>
            <a href="#" class="category__item">0</a>
            <a href="#" class="category__item">1-100</a>
            <a href="#" class="category__item">101-200</a>
            <a href="#" class="category__item">201-500</a>
            <a href="#" class="category__item">501-1000</a>
            <a href="#" class="category__item">1000以上</a>
          </div>
        </div>
        <div class="category-handle">
          <span>收起</span>
        </div>
        <ul class="row w">
          <li class="col v-m" style="width:90%;">
            <span class="label">项目起止日期</span>
            <input type="text" id="start" class="input">
            <span class="label">至</span>
            <input type="text" id="end" class="input">
            <span class="label">项目ID</span>
            <input type="text" class="input" style="width:100px;">
            <span class="label">项目名称</span>
            <input type="text" class="input" style="width:200px;">
            <a href="#" class="button button-small">搜索</a>
          </li>
          <li class="col v-m t-r">
            <div class="text-tab" style="margin-right:-10px;">
              <a class="active" href="志愿项目.html">列表</a>
              <a href="志愿项目-地图.html">地图</a>
            </div>
          </li>
        </ul>
        <ul class="panel-list" onclick="window.location.href='志愿团体详情.html'">
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i3.png" alt="">
              <h2 class="panel-card__name" style="margin-top:20px;">
                <a href="#">六都寨镇东山村志愿服务队</a>
              </h2>
              <p class="row w">
                <span class="col v-m">团体人数 ：0</span>
              </p>
              <p class="line"></p>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>培训满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>合作满意度</h2>
                  <p>5.0</p>
                </li>
                <li class="col v-m">
                  <h2>计划符合度</h2>
                  <p>5.0</p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="pages">
          <a href="#" class="pages-btn">上一页</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">7</a>
          <a href="#" class="pages-btn">下一页</a>
          <span>共311页</span>
          <span>到</span>
          <input type="text">
          <span>页</span>
          <a href="#" class="pages-btn">确定</a>
        </div>
        <div class="tabbar" style="margin-top:40px;">
          <span class="active">推荐团体</span>
          <span>推荐项目</span>
        </div>
        <ul class="panel-list" onclick="window.location.href='志愿项目详情.html'">
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i1.png" alt="">
              <p class="t-c">
                <a href="#" class="button button-small success round">招募中</a>
              </p>
              <h2 class="panel-card__name">
                <a href="#">中国医药卫生事业发展基金</a>
              </h2>
              <p class="row w">
                <span class="col v-m">岗位1：礼仪志愿者</span>
                <span class="col v-m t-r">计划招募：10</span>
              </p>
              <div class="progress">
                <span class="bar" style="width:15%;"></span>
              </div>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>项目进度</h2>
                  <p>7%</p>
                </li>
                <li class="col v-m">
                  <h2>报名人数</h2>
                  <p>0人</p>
                </li>
                <li class="col v-m">
                  <h2>离招募结束</h2>
                  <p>9天</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i1.png" alt="">
              <p class="t-c">
                <a href="#" class="button button-small success round">招募中</a>
              </p>
              <h2 class="panel-card__name">
                <a href="#">中国医药卫生事业发展基金</a>
              </h2>
              <p class="row w">
                <span class="col v-m">岗位1：礼仪志愿者</span>
                <span class="col v-m t-r">计划招募：10</span>
              </p>
              <div class="progress">
                <span class="bar" style="width:15%;"></span>
              </div>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>项目进度</h2>
                  <p>7%</p>
                </li>
                <li class="col v-m">
                  <h2>报名人数</h2>
                  <p>0人</p>
                </li>
                <li class="col v-m">
                  <h2>离招募结束</h2>
                  <p>9天</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i1.png" alt="">
              <p class="t-c">
                <a href="#" class="button button-small success round">招募中</a>
              </p>
              <h2 class="panel-card__name">
                <a href="#">中国医药卫生事业发展基金</a>
              </h2>
              <p class="row w">
                <span class="col v-m">岗位1：礼仪志愿者</span>
                <span class="col v-m t-r">计划招募：10</span>
              </p>
              <div class="progress">
                <span class="bar" style="width:15%;"></span>
              </div>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>项目进度</h2>
                  <p>7%</p>
                </li>
                <li class="col v-m">
                  <h2>报名人数</h2>
                  <p>0人</p>
                </li>
                <li class="col v-m">
                  <h2>离招募结束</h2>
                  <p>9天</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="panel-list__item" style="width:25%;">
            <div class="panel-card">
              <img src="img/i1.png" alt="">
              <p class="t-c">
                <a href="#" class="button button-small success round">招募中</a>
              </p>
              <h2 class="panel-card__name">
                <a href="#">中国医药卫生事业发展基金</a>
              </h2>
              <p class="row w">
                <span class="col v-m">岗位1：礼仪志愿者</span>
                <span class="col v-m t-r">计划招募：10</span>
              </p>
              <div class="progress">
                <span class="bar" style="width:15%;"></span>
              </div>
              <ul class="row w panel-card__info">
                <li class="col v-m">
                  <h2>项目进度</h2>
                  <p>7%</p>
                </li>
                <li class="col v-m">
                  <h2>报名人数</h2>
                  <p>0人</p>
                </li>
                <li class="col v-m">
                  <h2>离招募结束</h2>
                  <p>9天</p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="mid-layout row">
      <div class="col v-m">
        <div class="link-list">
          <span>友情链接：</span>
          <a href="#">中国文明网</a>
          <a href="#">中国文明网</a>
          <a href="#">中国文明网</a>
          <a href="#">中国文明网</a>
          <a href="#">中国文明网</a>
          <a href="#">中国文明网</a>
          <a href="#">中国文明网</a>
          <a href="#">中国文明网</a>
        </div>
        <ul class="row w">
          <li class="col v-m">
            <p>ICP备案编号：京ICP备13012430号-7</p>
            <p>版权所有：中华人民共和国民政部           技术支持：中国志愿</p>
          </li>
          <li class="col v-m">
            <h2>浏览网站人数统计</h2>
            <div class="count">
              <span>0</span>
              <span>2</span>
              <span>5</span>
              <span>0</span>
              <span>2</span>
              <span>6</span>
              <span>0</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col v-m t-c" style="width:20%;">
        <img src="img/qrcode.png" alt="">
        <h2>扫码安装“中国志愿”APP</h2>
      </div>
    </div>
  </div>
  <script src="./layout/laydate.js"></script>
  <script>
    laydate.render({
      elem: '#start',
      theme: '#2C5ABD'
    });
    laydate.render({
      elem: '#end',
      theme: '#2C5ABD'
    });
  </script>
</body>

</html>