<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--对应接口所在的包名-->
<mapper namespace="com.ssm.demo.mapper.UserMapper">

    <select id="getInfo" parameterType="String" resultType="com.ssm.demo.bean.UserBean">
select *  from table_name where name=#{name} and password = #{password}
    </select>

</mapper>